@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    font-family: "Roboto", sans-serif;
  }
}
@layer components {
  .max-w-layout {
    max-width: 1400px;
    width: 80%;
    padding: 0;
  }
  .max-w-mobile {
    padding: 0 16px;
    width: 100%;
  }
  .glasscard {
    background: rgba(149, 162, 172, 0.07);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4.7px);
    -webkit-backdrop-filter: blur(4.7px);
    z-index: 1;
  }
  .glasscard:hover {
    box-shadow: 0 4px 20px rgba(255, 255, 240, 0.4);
  }
}
